# Wally
/Packages/
/ServerPackages/
/DevPackages/
wally.lock

# Rojo / 빌드 산출물
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
*.rbxl.lock
*.rbxlx.lock
build/

# 툴체인
.rokit/
.aftman/

# 에디터
.vscode/
.idea/
.DS_Store

# selene 생성 std
roblox.toml
